<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header pb-2 pt-2">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikler</h4>
        </div>
        <div class="card-content">
            <div class="card-body pb-2 pt-2">
                <h4 class="card-title mb-2">İstatistikler</h4>
                <p class="card-text mb-2">
                    Aşağıda profilinize ait çeşitli istatistikleri görebilirsiniz.
                </p>

                <!-- 2 sütun 4 satır kartlar -->
                <div class="row">
                    <div class="col-md-6 mb-1 d-flex">
                        <div class="card text-center p-2 h-100 w-100" style="background-color: darkmagenta; color: white;">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h6 class="card-title mb-1 text-white">Onay Bekleyen Rezervasyonlar</h6>
                                <p class="display-3 fw-bold mb-0">676</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-1 d-flex">
                        <div class="card text-center p-2 h-100 w-100" style="background-color: chocolate; color: white;">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h6 class="card-title mb-1 text-white">Geçmiş Rezervasyon</h6>
                                <p class="display-3 fw-bold mb-0">656</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-1 d-flex">
                        <div class="card text-center p-2 h-100 w-100" style="background-color: deeppink; color: white;">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h6 class="card-title mb-1 text-white">Aktif Rezervasyon</h6>
                                <p class="display-3 fw-bold mb-0">676</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-1 d-flex">
                        <div class="card text-center p-2 h-100 w-100" style="background-color: goldenrod; color: black;">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h6 class="card-title mb-1">Toplam Rota</h6>
                                <p class="display-3 fw-bold mb-0">666</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-1 d-flex">
                        <div class="card text-center p-2 h-100 w-100" style="background-color: steelblue; color: white;">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h6 class="card-title mb-1 text-white">Rehberler</h6>
                                <p class="display-3 fw-bold mb-0">676</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-1 d-flex">
                        <div class="card text-center p-2 h-100 w-100" style="background-color: thistle; color: black;">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h6 class="card-title mb-1">Misafirler</h6>
                                <p class="display-3 fw-bold mb-0">676</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mb-1 d-flex">
                        <div class="card text-center p-2 h-100 w-100" style="background-color: lightcoral; color: white;">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h6 class="card-title mb-1 text-white">Ortalama Puan</h6>
                                <p class="display-3 fw-bold mb-0">676</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row End -->

            </div> <!-- Card Body End -->
        </div> <!-- Card Content End -->
    </div> <!-- Card End -->
</div> <!-- Column End -->
