
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        @await Component.InvokeAsync("_DashboardBanner")
        @await Component.InvokeAsync("_DashboardCardsStatistic")
        @await Component.InvokeAsync("_DashboardTotalRevenue")
        @await Component.InvokeAsync("_DashboardCardsStatistic2")
    </div>
    <div class="row">
        @await Component.InvokeAsync("_DashboardDestinationStatistic")
        @await Component.InvokeAsync("_DashboardDestinationStatistic2")
        @await Component.InvokeAsync("_DashboardGuideList")
    </div>
</div>