@model List<Destination>


<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">Son Rotalar</h4>
                <h6 class="card-subtitle text-muted">En Son Eklenen Seyehat Rotaları</h6>
            </div>
            <div id="carousel-area" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-area" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-area" data-slide-to="1"></li>
                    <li data-target="#carousel-area" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    @{
                        int index = 0;
                    }
                    @foreach (var item in Model)
                    {
                        <div class="carousel-item @(index == 0 ? "active" : "")">
                            <img src="@item.CoverImage" class="d-block w-100" alt="Slide @index">
                        </div>
                        index++;
                    }
                </div>

                <a class="carousel-control-prev" href="#carousel-area" role="button" data-slide="prev">
                    <span class="la la-angle-left" aria-hidden="true"></span>
                    <span class="sr-only">Önceki</span>
                </a>
                <a class="carousel-control-next" href="#carousel-area" role="button" data-slide="next">
                    <span class="la la-angle-right icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Sonraki</span>
                </a>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
            <span class="float-left">2 days ago</span>
            <span class="tags float-right">
                <span class="badge badge-pill badge-primary">Branding</span>
                <span class="badge badge-pill badge-danger">Design</span>
            </span>
        </div>
    </div>
</div>