@model GetDestinationByIdQueryResult
@{
    ViewData["Title"] = "GetDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header">CQRS Tur Rotası <u>Güncelleme</u></h5>
        <div class="table-responsive text-nowrap">
            <form class="p-4" method="post">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="destinationId" class="form-label">ID</label>
                        <input type="text" class="form-control" asp-for="DestinationId"  />
                    </div>
                    <div class="col-md-3">
                        <label for="city" class="form-label">Şehir</label>
                        <input type="text" class="form-control" asp-for="City"   />
                    </div>
                    <div class="col-md-3">
                        <label for="dayNight" class="form-label">Gün/Gece</label>
                        <input type="text" class="form-control" asp-for="Daynight"  />
                    </div>
                    <div class="col-md-3">
                        <label for="price" class="form-label">Fiyat</label>
                        <input type="number" class="form-control" asp-for="Price"  />
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                    <a href="/Admin/DestinationCQRS/Index" class="btn btn-secondary ms-2">İptal</a>
                </div>
            </form>
        </div>
    </div>
</div>
