@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(()=>{
            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44356/VisitorHubs").build();
           $("#connectionStatus").text(connection.state);

           
            connection.start().then(()=>{
             $("#connectionStatus").text(connection.state);

            }).catch((err)=>{console.log(err)
        });
    </script>
}

    <div class="container">
    
    <div class="alert alert-warning">
        <p>Bağlantınızın durumu <b id="connectionStatus"></b></p>
    </div>

    </div>