
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Raporları</h1>

<a class="btn btn-outline-primary" href="/PdfReport/StaticPdfReport">Statik PDF Raporu</a>
<a class="btn btn-outline-primary" href="/PdfReport/StaticCustomerReport">Statik Müşteri PDF Raporu</a>