<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="/Admin/Destination/Index" class="app-brand-link">

            <span class="app-brand-text demo menu-text fw-bolder ms-2">Traversal <br /> <b>Admin</b></span>
        </a>

    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item mt-3">
            <a href="/Admin/Dashboard/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>

    

       
        <!-- Cards -->
        <li class="menu-item">
            <a href="/Admin/Destination/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-trip"></i>
                <div data-i18n="Basic">Rotalar</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="/Admin/Comment/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-comment-check"></i>
                <div data-i18n="Basic">Yorumlar</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/User/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-face"></i>
                <div data-i18n="Basic">Misafirler</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Mail/Send" class="menu-link">
                <i class="menu-icon tf-icons bx bx-mail-send"></i>
                <div data-i18n="Basic">Mail</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Message/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-message"></i>
                <div data-i18n="Basic">Mesajlar</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Guide/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cool"></i>
                <div data-i18n="Basic">Rehberler</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Excel/Index" target="_blank" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-report"></i>
                <div data-i18n="Basic">Raporlar</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Feature/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-highlight"></i>
                <div data-i18n="Basic">Öne Çıkanlar</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Feature2/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-highlight"></i>
                <div data-i18n="Basic">Öne Çıkanlar 2</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="/Admin/Testimonial/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-highlight"></i>
                <div data-i18n="Basic">Referanslar</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/About/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-info-circle"></i>
                <div data-i18n="Basic">Alt Hakkında</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="/Admin/Reservation/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-chevron-right"></i>
                <div data-i18n="Basic">Rezervasyonlar</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="/Admin/MailList/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bxl-mailchimp"></i>
                <div data-i18n="Basic">Mail Listesi</div>
            </a>
        </li>

        <li class="menu-header small text-uppercase"><span class="menu-header-text">Hesap</span></li>
        <li class="menu-item">
            <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
               target="_blank"
               class="menu-link">
                <i class="menu-icon tf-icons bx bxs-user-account"></i>
                <div data-i18n="Support">Profil</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
               target="_blank"
               class="menu-link">
                <i class="menu-icon tf-icons bx bx-key"></i>
                <div data-i18n="Support">Şifre İşlemleri</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
               target="_blank"
               class="menu-link">
                <i class="menu-icon tf-icons bx bx-log-out-circle"></i>
                <div data-i18n="Documentation">Çıkış Yap</div>
            </a>
        </li>
    </ul>
</aside>