<footer class="footer footer-static footer-light navbar-border navbar-shadow">
    <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="float-md-left d-block d-md-inline-block">@DateTime.Now.Year &copy; Copyright <a class="text-bold-800 grey darken-2" href="https://tr.linkedin.com/company/m-y-yaz%C4%B1l%C4%B1m-e%C4%9Fitim-akademi-dan%C4%B1%C5%9Fmanl%C4%B1k" target="_blank">MGKAYA</a></span>
      
    </div>
</footer>