@model EntityLayer.Concrete.AppUser
@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">


    <!-- Basic Layout -->
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Kullanıcı Güncelle</h5>
                    <small class="text-muted float-end">Kullanıcı Bilgilerini Güncelle</small>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <input type="hidden" class="form-control" asp-for="Id" />
                        </div>


                        <div class="mb-3">
                            <label class="form-label">Şehir Adı</label>
                            <input type="text" class="form-control" asp-for="Name"  />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Şehir Adı</label>
                            <input type="text" class="form-control" asp-for="UserName" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Şehir Adı</label>
                            <input type="text" class="form-control" asp-for="Email" />
                        </div>

                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
